<!-- This starts the footer at the bottom of my site -->
<footer class="text-white mt-5 py-4 bg-dark">
  <div class="container text-center">
    <!-- Here’s how people can contact me by email -->
    <p class="mb-2">
      Contact: <a href="mailto:abdurrahman.jahankeer@ontariotechu.net" class="emails text-white">abdurrahman.jahankeer@ontariotechu.net</a>
    </p>
    <!-- These are all my social media icons and links -->
    <div class="social-media-links mt-2">
      <a href="https://www.instagram.com/_mrramen/" target="_blank" class="text-white mx-2" aria-label="Instagram">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
      <a href="https://twitter.com/_mrramen" target="_blank" class="text-white mx-2" aria-label="Twitter">
        <i class="fab fa-x-twitter fa-2x"></i>
      </a>
      <a href="https://www.youtube.com/@c7ramen" target="_blank" class="text-white mx-2" aria-label="YouTube">
        <i class="fab fa-youtube fa-2x"></i>
      </a>
      <a href="https://www.facebook.com/profile.php?id=100082633274977" target="_blank" class="text-white mx-2" aria-label="Facebook">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="https://github.com/abdurrahmanjahankeer" target="_blank" class="text-white mx-2" aria-label="GitHub">
        <i class="fab fa-github fa-2x"></i>
      </a>
      <a href="https://www.linkedin.com/in/abdurrahman-jahankeer-2739b6395/" target="_blank" class="text-white mx-2" aria-label="LinkedIn">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
    </div>
    <!-- This shows who owns the website and the year -->
    <p class="mb-0 mt-2">&copy; 2025 Abdurrahman Jahankeer. All rights reserved.</p>
  </div>
  <!-- This pulls in my JavaScript if I want to add fun features -->
  <script src="/Script/app.js"></script>
</footer>
</body>
</html>