<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#232425;">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center fw-bold" href="/">
      Abdurrahman Jahankeer
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <% if(typeof title !== 'undefined' && title === "Home") { %>
            <a class="nav-link active" href="/"><i class="fas fa-home"></i> Home</a>
          <% } else { %>
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
          <% } %>
        </li>
        <li class="nav-item">
          <% if(typeof title !== 'undefined' && title === "About") { %>
            <a class="nav-link active" href="/about"><i class="fas fa-circle-info"></i> About</a>
          <% } else { %>
            <a class="nav-link" href="/about"><i class="fas fa-circle-info"></i> About</a>
          <% } %>
        </li>
        <li class="nav-item">
          <% if(typeof title !== 'undefined' && title === "Assignments" || title === "Assignments") { %>
            <a class="nav-link active" href="/assignments"><i class="fas fa-file-alt"></i> Assignments</a>
          <% } else { %>
            <a class="nav-link" href="/assignments"><i class="fas fa-file-alt"></i> Assignments</a>
          <% } %>
        </li>
        <li class="nav-item">
          <% if(typeof title !== 'undefined' && title === "Contact") { %>
            <a class="nav-link active" href="/contact"><i class="fas fa-phone"></i> Contact</a>
          <% } else { %>
            <a class="nav-link" href="/contact"><i class="fas fa-phone"></i> Contact</a>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>