<%- include('partials/header') %>
<%- include('partials/main_nav') %>
<div id="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 homepage-content">
        <h1 class="homepage-title">Welcome to the Assignment Tracker</h1>
        <p>Track your major portfolio projects and assignments all in one place!</p>
        <div class="bottom-links" style="text-align: center;">
          <div style="margin-bottom: 22px;">
            <a class="box" href="/assignments" style="padding-left: 30px; padding-right: 30px;">View Assignments</a>
          </div>
          <div style="margin-bottom: 22px;">
            <a class="box" href="/about" style="padding-left: 90px; padding-right: 90px;">About</a>
          </div>
          <div>
            <a class="box" href="/contact" style="padding-left: 80px; padding-right: 80px;">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>