<%- include('partials/header') %>
<%- include('partials/main_nav') %>

<div class="homepage-title">
    <h1>Welcome To The Abdurrahman Jahankeers Assignment Tracker</h1>
</div>

<div class="bottom-links">
    <div class="box">
        <a href="/about">About Us</a>
    </div>
    <div class="box">
        <a href="/contact">Contact Us</a>
    </div>
</div>

<%- include('partials/footer') %>