/* Full (Desktop) View Stylesheet */
body {
    font-size: 18px;
}
.homepage-title, .page-title, h1, h2 {
    font-size: 42px;
}
.navbar-brand {
    font-size: 30px;
}
.table td, .table th {
    font-size: 19px;
}
.form-group label, .form-control {
    font-size: 19px;
}