/* Tablet View Stylesheet */
body {
    font-size: 16px;
}
.homepage-title, .page-title, h1, h2 {
    font-size: 32px;
}
.navbar-brand {
    font-size: 24px;
}
.table td, .table th {
    font-size: 16px;
}
.form-group label, .form-control {
    font-size: 16px;
}